{% extends 'knp_menu.html.twig' %}

{% block root %}
    <!-- developement dashboard menu start-->
    <div id="dashboardMenu">
        {% for parentItem in item.children %}
        	<div class="card">
                <div class="card-header" id="heading-{{ parentItem.attributes.id }}">
                    <h5 class="mb-0">
                       <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#{{ parentItem.attributes.id }}" aria-expanded="false" aria-controls="{{ parentItem.attributes.id }}">
                         <span class="fas mr-3 fa-angle-down"></span>
                         {{ parentItem.name }}
                       </button>
                      </h5>
                </div>
                <div id="{{ parentItem.attributes.id }}" class="collapse" aria-labelledby="heading-{{ parentItem.attributes.id }}" data-parent="#dashboardMenu" style="">
                    <div class="card-body">
                        {% for childItem in parentItem.children %}
                            {% if( childItem.displayed ) %}
                            	<div class="row">
                            		<div class="col mb-2">
                            			<a href="{{ childItem.uri }}" class="btn btn-primary btn-lg btn-block">{{ childItem.name }}</a>
                            		</div>
                            	</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- developement dashboard menu end-->
{% endblock %}
